<h1>Welcome to Castle Crew Chess!!</h1>

<br /><br />

<h2> Join a Private Game </h2>

<br /><br />

<%= button_to "New", action: "create" %>
  
<br /><br />

<%= link_to 'Join a Random Game', games_path, class: 'btn btn-success' %>

<br /><br />