<h1>Welcome to Castle Crew Chess!!</h1>

<br /><br />

<h2> Join a Private Game </h2>

<br /><br />

<form method="post" action="games" class="button_to">
  <input value="New" type="submit" />
</form>
  
<br /><br />

<%= link_to 'Join a Random Game', games_path, class: 'btn btn-success' %>

<br /><br />