  <div class="container">
      <div class="chess-board">
      <div class="row topline"></div>
      <div class="row">
        <div class="rank-8">
          <div class="file-a white">
          
          <% image_tag ("/images/wB.png") %>
            a8
          </div>
          <div class="file-b black">
            b8
          </div>
          <div class="file-c white">
            c8
          </div>
          <div class="file-d black">
            d8
          </div>
          <div class="file-e white">
            e8
          </div>
          <div class="file-f black">
            f8
          </div>
          <div class="file-g white">
            g8
          </div>
          <div class="file-h black">
            h8
          </div>
        </div>
      </div>
      <div class="row">
        <div class="rank-7">
          <div class="file-a black">
            a7
          </div>
          <div class="file-b white">
            b7
          </div>
          <div class="file-c black">
            c7
          </div>
          <div class="file-d white">
            d7
          </div>
          <div class="file-e black">
            e7
          </div>
          <div class="file-f white">
            f7
          </div>
          <div class="file-g black">
            g7
          </div>
          <div class="file-h white">
            h7
          </div>
        </div>
      </div>
    <div class="row">
      <div class="rank-6">
        <div class="file-a white">
          a6
        </div>
        <div class="file-b black">
          b6
        </div>
        <div class="file-c white">
          c6
        </div>
        <div class="file-d black">
          d6
        </div>
        <div class="file-e white">
          e6
        </div>
        <div class="file-f black">
          f6
        </div>
        <div class="file-g white">
          g6
        </div>
        <div class="file-h black">
          h6
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-5">
        <div class="file-a black">
          a5
        </div>
        <div class="file-b white">
          b5
        </div>
        <div class="file-c black">
          c5
        </div>
        <div class="file-d white">
          d5
        </div>
        <div class="file-e black">
          e5
        </div>
        <div class="file-f white">
          f5
        </div>
        <div class="file-g black">
          g5
        </div>
        <div class="file-h white">
          h5
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-4">
        <div class="file-a white">
          a4
        </div>
        <div class="file-b black ">
          b4
        </div>
        <div class="file-c white">
          c4
        </div>
        <div class="file-d black">
          d4
        </div>
        <div class="file-e white">
          e4
        </div>
        <div class="file-f black">
          f4
        </div>
        <div class="file-g white">
          g4
        </div>
        <div class="file-h black">
          h4
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-3">
        <div class="file-a black">
          a3
        </div>
        <div class="file-b white">
          b3
        </div>
        <div class="file-c black">
          c3
        </div>
        <div class="file-d white">
          d3
        </div>
        <div class="file-e black">
          e3
        </div>
        <div class="file-f white">
          f3
        </div>
        <div class="file-g black">
          g3
        </div>
        <div class="file-h white">
          h3
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-2">
        <div class="file-a white">
          a2
        </div>
        <div class="file-b black">
          b2
        </div>
        <div class="file-c white">
          c2
        </div>
        <div class="file-d black">
          d2
        </div>
        <div class="file-e white">
          e2
        </div>
        <div class="file-f black">
          f2
        </div>
        <div class="file-g white">
          g2
        </div>
        <div class="file-h black">
          h2
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rank-1">
          <div class="file-a black">
					  </div>
          <div class="file-b white">
          </div>
          <div class="file-c black">
            c1
          </div>
          <div class="file-d white">
            d1
          </div>
          <div class="file-e black">
            e1
          </div>
          <div class="file-f white">
            f1
          </div>
          <div class="file-g black">
            g1
          </div>
          <div class="file-h white">
            h1
          </div>      
      </div>
    </div>
  </div>
</div>